# Python
__pycache__/
*.pyc
.venv/
env/
*.egg-info/

# Notebooks
.ipynb_checkpoints/

# MATLAB/Simulink
*.asv
*.m~
*.autosave
*.slx.autosave
*.sfautosave
slprj/
sccprj/
codegen/
mex*
*.mex*
*.obj
*.dll
*.so
*.dylib
*.p
*.tmw
*.md5

# OS junk
.DS_Store
Thumbs.db

# Generated data (ignore if you’ll regenerate)
data/path_points.csv
data/robot_coordinates_output.txt
data/joint_solutions.csv
